.main-content {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #1f1f1f;
    color: #fff;
  }
  
  .dropdown-menu {
    position: absolute;
    display: flex;
    align-items: bottom;
    flex-direction: row;
    top: 15px;
    left: 15px;
    background-color: #1f1f1f; 
    color: #ffffff; 
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
  }

  .dropdown-menu:hover, .dropdown-menu.active {
    background-color: #434343; 
  }

  .dropdown-icon {
    position: relative;
    width: 25px;
    height: 25px;
    fill: white
  }
  

  
  .dropdown-content {
    border-radius: 7px;
    position: absolute;
    top: 115%; 
    left: 0;
    background-color: #434343;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content div {
    color: #ffffff;
    padding: 12px 16px;
    border-radius: 7px;
    margin: 3px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content div:hover {
    background-color: #7b7b7b;
  }
  

  .centered-message {
    font-size: 24px;
    text-align: center;
  }
  